<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SGP Concept</title>


    <link rel="stylesheet" asp-href-include="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" asp-href-include="/css/site.min.css" />
    <link rel="stylesheet" asp-href-include="/css/carousel.min.css" />
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/font-awesome.min.css" />

</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SGP Concept</a>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@lng("overview")</a>
                    </li>*@
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Product" asp-action="List">@lng("store")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">@lng("about")</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Contact">@lng("contact")</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" asp-area="" asp-controller="Party" asp-action="Index">@lng("party")</a>
                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Store">@lng("store")</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="body-content container-fluid">

        @RenderBody()
        <div class=col-12>

            <hr />
            @*<footer>
                    <p>&copy; 2018 - SGPConcept</p>
                </footer>*@
            <footer>
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; @System.DateTime.Now.Year - SGP Concept</p>
                    </div>
                    <div class="col-md-6 text-right">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="~/js/site.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @functions {

    string lng(string txt)
    {
        var msg = @SharedLocalizer.GetLocalizedHtmlString(txt);
        return msg;
    }
    }
</body>
</html>
